.player-options {
     margin-top: 25px;
}

/*Drop down menus */

.dropbtn {
  border-radius: 25px;
  background-color: rgb(18, 18, 18);
  color: white;
  margin-right: 8px;

  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(18, 18, 18);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(18, 18, 18);}

/* Main search bar on website */

#main-nav-merch-options {
    margin-top: 14px;
}

#main-player-search{
    margin-right:10px;
}

.main-account-login{
    position: relative;
    float: right;
    padding: 0;
    margin-top: 5px;
    margin-right: 15px;
}

.login-register a{
    text-decoration: none;
    color: gray;
}

/* HOMEPAGE News Feed */

#RSS-news-feed {
    margin-left: 320px;
}


/*Applied to page navigation bars*/

.custom-page-nav {
    margin-top: 75px;
}

/*Create Merchant Log Forms*/

.log-create-form {
    width: 400px;
    margin-bottom: 15px;
    margin-left: 175px;
    display: flex;
}

.log-create-form h4 {
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: 100;
    margin-left: 5px;
}

.log-create-form button {
    margin-left: 145px;
}

#create-merch-options {
    margin-top: 14px;
    position: relative;
}

.log-create-form h3 {
    margin-left: 125px;
}

.submit-log-btn {
    margin-left: 175px;
}

/* Styling for the info icon on margin-logs nav bar */

.margin-log-info {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    color: #af0505;
}

/* Account register page */

.pass-warning {
    position: relative;
    float: left;
    color: #af0505;
    margin-left: 5px;
    margin-top: 2px;
}