<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div>
    <nav th:replace="fragments :: navigation"></nav>
</div>

<div class="custom-page-nav">
    <nav th:replace="fragments :: log-create-navigation"></nav>
</div>

<div class="log-create-form">
    <div class="container body-content">
        <form method="post" action="/search">
            <div class="log-create-form">
                <input type=text name ="logName" class="form-control" placeholder="Log Name">
            </div>
            <div class="log-create-form">
                <input class="form-control" type="number" name="gold" placeholder="Starting Gold" min="1">
            </div>
            <div class="log-create-form">
                <h4>Log Type</h4>
            </div>
            <div class="log-create-form">
                <select title="Select which type of merchant log you'd like to create" name ="logType" class="form-control">
                    <option value="margin">Margin</option>
                    <option value="profit">Profit</option>
                </select>
            </div>
            <div class="log-create-form">
                <h4>Log Privacy Settings</h4>
            </div>
            <div class="log-create-form">
                <select title="Select privacy settings for your log." name ="privacyType" class="form-control">
                    <option value="margin">Public</option>
                    <option value="profit">Private</option>
                </select>
            </div>
            <div class="log-create-form">
                <button type="submit" class="btn btn-default">Create Log</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>