<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div>
    <nav th:replace="fragments :: navigation"></nav>
</div>



<div class="custom-page-nav">
    <div >
        <div class="container body-content">
            <nav th:replace="fragments :: profit-logs-navigation"></nav>
        </div>
    </div>
</div>

<div>
    <div class="container body-content">
        <form method="post" action="/search">
            <div class="form-group">
                <input type=text name ="logName" class="form-control" placeholder="Log Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="gold" placeholder="Starting Gold" min="1">
            </div>
            <select title="Select which type of merchant log you'd like to create" name ="logType" class="form-control">
                <option value="lifetime">Margin</option>
                <option value="year">Profit</option>
            </select>
            <button type="submit" class="btn btn-default">Create Log</button>
        </form>
    </div>
</div>

</body>
</html>