<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div>
    <nav th:replace="fragments :: navigation"></nav>
</div>

<div class="custom-page-nav">
    <nav th:replace="fragments :: log-create-navigation"></nav>
</div>



<div class="log-create-form">
    <div class="container body-content">
        <form method="post" action="/search">
            <div class="log-create-form">
                <h3>
                    Profit Log Creator
                </h3>
            </div>
            <div class="log-create-form">
                <h4>Log Name</h4>
            </div>
            <div class="log-create-form">
                <input type=text name ="logName" class="form-control" placeholder="My Profit Log">
            </div>
            <div class="log-create-form">
                <h4 title="You can change these later!">Privacy Settings</h4>
            </div>
            <div class="log-create-form">
                <select title="Select privacy settings for your log." name ="privacyType" class="form-control">
                    <option value="false">Public</option>
                    <option value="true">Private</option>
                </select>
            </div>
            <div class="log-create-form">
                <button title="All settings can be changed later!" type="submit" class="btn btn-default">Create Log</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>