<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div class="custom-page-nav">
    <nav th:replace="fragments :: navigation"></nav>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Item</th>
        <th scope="col">Updates</th>
        <th scope="col">Daily Low</th>
        <th scope="col">Daily High</th>
        <th scope="col">Weekly Low</th>
        <th scope="col">Weekly High</th>
        <th scope="col">Monthly Low</th>
        <th scope="col">Monthly High</th>
        <th scope="col">Update</th>
        <th scope="col">Last Updated</th>
        <th scope="col">First Updated</th>
    </tr>
    </thead>


    <tbody th:each="">
    <tr th:each="">
        <div th:if="">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </div>
    </tr>
    </tbody>

</table>

</body>
</html>