<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div class="custom-page-nav">
    <nav th:replace="fragments :: navigation"></nav>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Item</th>
        <th scope="col">Gold Investment</th>
        <th scope="col">Profit</th>
        <th scope="col">Buy Price</th>
        <th scope="col">Sell Price</th>
        <th scope="col">ROI</th>
        <th scope="col">GP/HR</th>
        <th scope="col">Buy Limit</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>


    <tbody th:each="">
    <tr th:each="">
        <div th:if="">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </div>
    </tr>
    </tbody>

</table>

</body>
</html>