<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">OSRS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/styles.css" media="all" rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>


</head>
<body>

<!--Navigation Bar for interacting with player database--->
<nav th:fragment="player-navigation" class="navbar navbar-inverse">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a  class="navbar-brand active" href="" th:text="${displayName}"></a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active" th:if="${dataPoint.isNormal}"><a th:href="@{/fetch?hiscoreType=normal(displayName=${displayName})}">Normal Hiscores</a></li>
            <li th:unless="${dataPoint.IsNormal}"><a th:href="@{/fetch?hiscoreType=normal(displayName=${displayName})}">Normal Hiscores</a></li>

            <li class="active" th:if="${player.isIronman} and ${dataPoint.isIronman}"><a th:href="@{/fetch?hiscoreType=ironman(displayName=${displayName})}">Ironman Hiscores</a></li>
            <li th:if="${player.isIronman}" th:unless="${dataPoint.IsIronman}"><a th:href="@{/fetch?hiscoreType=ironman(displayName=${displayName})}">Ironman Hiscores</a></li>

            <li class="active" th:if="${player.isUltimate} and ${dataPoint.isUltimate}"><a th:href="@{/fetch?hiscoreType=ultimate(displayName=${displayName})}">Ultimate Hiscores</a></li>
            <li th:if="${player.isUltimate}" th:unless="${dataPoint.isUltimate}"><a th:href="@{/fetch?hiscoreType=ultimate(displayName=${displayName})}">Ultimate Hiscores</a></li>

            <li class="active" th:if="${player.isHardcore} and ${dataPoint.isHardcore}"><a th:href="@{/fetch?hiscoreType=hardcore(displayName=${displayName})}">Hardcore Hiscores</a></li>
            <li th:if="${player.isHardcore}" th:unless="${dataPoint.isHardcore}"><a th:href="@{/fetch?hiscoreType=hardcore(displayName=${displayName})}">Hardcore Hiscores</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li th:title="${player.LastUpdated}" class="active"><a th:href="@{/update(displayName=${displayName})}">Update Player</a></li>
        </ul>
        <form method="post" class="navbar-form navbar-right" th:action="@{/progression?hiscoreType=normal(days=days)(displayName=${displayName})}">
            <div class="dropdown">
                <button class="dropbtn">Options</button>
                <div class="dropdown-content">
                    <a th:href="@{/fetch?hiscoreType=normal(displayName=${displayName})}">Statistics</a>
                    <a th:href="@{/achievements?(displayName=${displayName})}">Achievements</a>
                    <a th:href="@{/progression?hiscoreType=normal&days=1(displayName=${displayName})}">Progression</a>
                </div>
            </div>

            <div class="form-group">
                <input class="form-control" type="number" name="days" placeholder="Days" min="1" max="20000">
            </div>
            <button type="submit" class="btn btn-default">Check Progression</button>
        </form>





    </div>
</nav>

<!--Navigation Bar for interacting with tournament database--->
<nav th:fragment="tournament-navigation" class="navbar navbar-inverse">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="/tournaments">Tournaments</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Create Tournament</a></li>
        </ul>
        <form method="post" class="navbar-form navbar-right" action="/search">
            <div class="form-group">
                <input type=text name ="tournamentCode" class="form-control" placeholder="Search Tournaments">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <form method="post" class="navbar-form navbar-right" action="/search">
            <div class="form-group">
                <input title="Type in your Tournament edit code and press 'Edit'." type=text name ="tournamentCode" class="form-control" placeholder="Tournament Edit Code">
            </div>
            <button title="Edit a tournament with an edit code." type="submit" class="btn btn-default">Edit</button>
        </form>
    </div>
</nav>

<!--Navigation Bar for navigating website and searching characters--->
<nav th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a title="Home" class="navbar-brand" href="/">Oldschool Companion</a>
        </div>
        <ul class="nav navbar-nav">
            <li title="Landing page for Records."class="active"><a href="/records">Records</a></li>
            <li title="Landing page for Calculators."><a href="/calculators">Calculators</a></li>
            <li title="Landing page for Tournaments."><a href="/tournaments">Tournaments</a></li>
            <li>
                <div class="dropdown" id="main-nav-merch-options">
                    <button class="dropbtn">Merchanting</button>
                    <div class="dropdown-content">
                        <a th:href="@{/merchant?logType=profit}">Profit Logs</a>
                        <a th:href="@{/merchant?logType=margin}">Item Margin Log</a>
                    </div>
                </div>
            </li>
        </ul>

        <form method="post" class="navbar-form navbar-right" action="/search">
            <div class="form-group">
                <input type=text name ="displayName" class="form-control" placeholder="Search Characters">
            </div>
                <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</nav>

<!--Navigation Bar for navigating records database--->
<nav th:fragment="records-navigation" class="navbar navbar-inverse">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Records</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
            </li>
            <li><a title="Normal hiscore Records. Records only include tracked users." href="/">Normal Records</a></li>
            <li><a title="Ironman hiscore Records. Records only include tracked users." href="/">Ironman Records</a></li>
            <li><a title="Ultimate Ironman hiscore Records. Records only include tracked users." href="/">Ultimate Records</a></li>
            <li><a title="Hardcore Ironman hiscore Records. Records only include tracked users." href="/">Hardcore Records</a></li>
        </ul>
        <form method="post" class="navbar-form navbar-right" action="/search">
            <div class="form-group">
                <select title="Select an option to see records for a given time period." name ="timeFrame" class="form-control">
                    <option value="lifetime">Lifetime</option>
                    <option value="year">Year</option>
                    <option value="month">Month</option>
                    <option value="week">Week</option>
                    <option value="day">Day</option>
                </select>
            </div>
            <div class="form-group">
                <select title="Select a skill to see records for that particular skill." name ="skillName" class="form-control">
                    <option value="test">Skills Here</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</nav>

<!--Navigation Bar for navigating merchant profit log database--->
<nav th:fragment="profit-logs-navigation" class="navbar navbar-inverse">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="/merchant/logs">Logs</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
            </li>
            <li><a title="" href="/merchant/logs/create">New Profit Log</a></li>
        </ul>
        <form method="post" class="navbar-form navbar-right" action="/search">
            <div class="form-group">
                <input type=text name ="editCode" class="form-control" placeholder="Log Edit Code">
            </div>
            <button type="submit" class="btn btn-default">Edit</button>
        </form>
    </div>
</nav>

<!--Navigation Bar for navigating merchant item margin log database--->
<nav th:fragment="margin-logs-navigation" class="navbar navbar-inverse">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="/merchant/margin/logs">Logs</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
            </li>
            <li><a title="" href="/merchant/logs/create">New Margin Log</a></li>
        </ul>
        <form method="post" class="navbar-form navbar-right" action="/search">
            <div class="form-group">
                <input type=text name ="editCode" class="form-control" placeholder="Log Edit Code">
            </div>
            <button type="submit" class="btn btn-default">Edit</button>

        </form>
        <ul class="navbar-nav-right">
                <a href="#">
                    <span title="Item Margin Logs track the active margins of items over days to aide with inactive merchanting." class="glyphicon glyphicon-info-sign margin-log-info"></span>
                </a>
        </ul>
    </div>
</nav>

<!--Navigation Bar for navigating creating logs--->
<nav th:fragment="log-create-navigation" class="navbar navbar-inverse">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="/merchant/logs/create">Create Log</a>
        </div>

        <form method="post" class="navbar-form navbar-right" action="/search">
            <div class="form-group">
                <input type=text name ="editCode" class="form-control" placeholder="Log Edit Code">
            </div>
            <button type="submit" class="btn btn-default">Edit</button>

        </form>
        <div class="dropdown navbar-nav" id="create-merch-options">
            <button class="dropbtn">Merchanting</button>
            <div class="dropdown-content">
                <a th:href="@{/merchant?logType=profit}">Profit Logs</a>
                <a th:href="@{/merchant?logType=margin}">Item Margin Log</a>
            </div>
        </div>
        <ul class="navbar-nav-right">
            <a href="#">
                <span title="Remember your Edit Code!" class="glyphicon glyphicon-info-sign margin-log-info"></span>
            </a>
        </ul>

    </div>
</nav>

</body>
</html>