<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<br>
<br>
<br>
<div class="border border-dark rounded">
    <p class="text-justify">The custom calculator creator is a planned feature for the Oldschool Runescape Companion App. It will allow users to create and share calculators for use
        in planning your progress in the game. It will arrive shortly after the login system has been created and released.
    </p>


</div>




</body>
</html>