<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<br>
<br>
<br>
<div class="border border-dark rounded">
    <p class="text-justify">Records are the next planned feature for Oldschool Runescape companion. They will pit all players against each other to compete for the most experience in a day, week, month, even yearly!
        Individual player records will also come with this feature which will be completed before the login system and will add additional achievements to hunt down.
    </p>


</div>




</body>
</html>