<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<br>
<br>
<br>
<div class="border border-dark rounded">
    <p class="text-justify">OldSchool Runescape Companion is a website that allows users to track their progression in the game
        and compete in tournaments against other players across all skills in the game.
    </p>
    <p class="text-center" th:text="'We are currently tracking ' + ${players} + ' players with ' + ${dataPoints} + ' total data points.'"></p>

</div>




</body>
</html>