<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div>
    <nav th:replace="fragments :: navigation"></nav>
</div>

<br>
<br>
<br>
<br>

<div >
    <div >
        <div class="container body-content">
            <div>
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid ">
                        <div class="navbar-header">
                            <a  class="navbar-brand active" href="" th:text="${displayName}"></a>
                        </div>

                        <ul class="nav navbar-nav">
                            <li class="active" th:if="${dataPoint.isNormal}"><a th:href="@{/fetch?hiscoreType=normal(displayName=${displayName})}">Normal Hiscores</a></li>
                            <li th:unless="${dataPoint.IsNormal}"><a th:href="@{/fetch?hiscoreType=normal(displayName=${displayName})}">Normal Hiscores</a></li>

                            <li class="active" th:if="${player.isIronman} and ${dataPoint.isIronman}"><a th:href="@{/fetch?hiscoreType=ironman(displayName=${displayName})}">Ironman Hiscores</a></li>
                            <li th:if="${player.isIronman}" th:unless="${dataPoint.IsIronman}"><a th:href="@{/fetch?hiscoreType=ironman(displayName=${displayName})}">Ironman Hiscores</a></li>

                            <li class="active" th:if="${player.isUltimate} and ${dataPoint.isUltimate}"><a th:href="@{/fetch?hiscoreType=ultimate(displayName=${displayName})}">Ultimate Hiscores</a></li>
                            <li th:if="${player.isUltimate}" th:unless="${dataPoint.isUltimate}"><a th:href="@{/fetch?hiscoreType=ultimate(displayName=${displayName})}">Ultimate Hiscores</a></li>

                            <li class="active" th:if="${player.isHardcore} and ${dataPoint.isHardcore}"><a th:href="@{/fetch?hiscoreType=hardcore(displayName=${displayName})}">Hardcore Hiscores</a></li>
                            <li th:if="${player.isHardcore}" th:unless="${dataPoint.isHardcore}"><a th:href="@{/fetch?hiscoreType=hardcore(displayName=${displayName})}">Hardcore Hiscores</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a th:href="@{/update(displayName=${displayName})}">Update Player</a></li>
                        </ul>

                    </div>
                </nav>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Skill</th>
                        <th scope="col">Level</th>
                        <th scope="col">Rank</th>
                        <th scope="col">Experience</th>
                    </tr>
                </thead>
                <tbody th:each="skillData : ${data}">
                    <tr th:each="skill : ${skillData.skillInfo}">
                        <div th:if="${skillData.isRecent}">
                            <td th:text="${skill.skillName}"></td>
                            <td th:text="${skill.level}"></td>
                            <td th:text="${skill.rank}"></td>
                            <td th:text="${skill.experience}"></td>
                        </div>
                    </tr>
                </tbody>
            </table>
            <h1 class="text-center">Achievements</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Day Achieved</th>
                    </tr>
                </thead>
                <tbody th:each="achievement : ${achievements}">
                    <div th:if="${achievement.HasAchieved}">
                        <td  title="Achieved" class="glyphicon glyphicon-star"></td>
                    </div>
                    <div th:unless="${achievement.HasAchieved}">
                        <td title="Not Achieved" class="glyphicon glyphicon-star-empty"></td>
                    </div>
                    <td th:text="${achievement.name}"></td>
                    <td th:text="${achievement.description}"></td>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>