<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<div>
    <nav th:replace="fragments :: navigation"></nav>
</div>

<br>
<br>

<div class=".text-center">
    <p th:text="${player.displayName}"></p>
    <p th:text="${player.lastUpdated}"></p>
</div>

<div >
    <div >
        <div class="container body-content">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Skill</th>
                        <th scope="col">Level</th>
                        <th scope="col">Rank</th>
                        <th scope="col">Experience</th>
                    </tr>
                </thead>
                <tbody th:each="skillData : ${player.normalData}">
                <tr th:each="skill : ${skillData.skillInfo}">
                    <td th:text="${skill.skillName}"></td>
                    <td th:text="${skill.experience}"></td>
                    <td th:text="${skill.rank}"></td>
                    <td th:text="${skill.level}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>