<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div>
    <nav th:replace="fragments :: navigation"></nav>
</div>

<br>
<br>
<br>
<br>

<div >
    <div >
        <div class="container body-content">
            <div>
                <nav th:replace="fragments :: player-navigation"></nav>
            </div>
            <h1 title="Hovering over a value will show the current statistics of the player." class="text-center">Progression</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Skill</th>
                    <th scope="col">Levels Gained</th>
                    <th title="Negative rank indicates an increase in position on the hiscores." scope="col">Rank Change</th>
                    <th scope="col">Experience Gained</th>
                </tr>
                </thead>


                <tbody>
                <tr th:each="skill,iter : ${progressionData}">
                    <div >

                        <td th:text="${skill.skillName}"></td>
                        <td th:title="${currentData[iter.index].level}" th:text="${skill.levelDifference}"></td>
                        <td th:title="${currentData[iter.index].rank}" th:text="${skill.rankDifference}"></td>
                        <td th:title="${currentData[iter.index].experience}" th:text="${skill.experienceDifference}"></td>

                    </div>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

</body>
</html>