<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br>
<br>
<br>
<br>

<form method="post" class="navbar-form navbar-right" action="/search">
    <div class="form-group">
        <input type=text name ="displayName" class="form-control" placeholder="Search Characters">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<p th:text="${progression}"></p>
<div th:each="skill : ${progression.progressionData}">
    <p th:text="${skill.experienceDifference}"></p>
</div>

</body>
</html>